.choose .h1,
.choose .para {
  margin: 0 auto;
  text-align: center;
  width: 70rem;
}
.choose .para {
  margin-top: 2rem;
}
.choose .choose__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 3rem;
}
.choose .choose__item {
  flex-basis: 28%;
  width: 28%;
  position: relative;
  margin-bottom: 3rem;
}
.choose .choose__item .choose__tick {
  position: absolute;
  top: 0rem;
  left: -4rem;
  font-size: 2rem;
  color: #e6692e;
}
@media (max-width: 1500px) {
  .choose .choose__item {
    flex-basis: 30%;
    width: 30%;
  }
}
@media (max-width: 900px) {
  .choose .choose__item {
    flex-basis: 46%;
    width: 46%;
  }
}
@media (max-width: 700px) {
  .choose .h1,
  .choose .para {
    width: 80%;
  }
}
@media (max-width: 550px) {
  .choose .choose__items {
    justify-content: center;
  }
  .choose .choose__item {
    flex-basis: 90%;
    width: 90%;
  }
  .choose .choose__item .choose__tick {
    font-size: 2.5rem;
  }
  .choose .para {
    width: 90%;
  }
  .choose .choose__item .text {
    margin-top: 0.5rem;
  }
}
