.btn {
  font-size: 1.6rem;
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.btn.primary {
  background: #e6692e;
  color: #fff;
}

.btn.secondary {
  background: #fff;
  color: #e6692e;
}

.btn.default {
  background: transparent;
  color: #e6692e;
}
